{% extends "base.html" %} {% block title %}Settings{% endblock %} {% block
content %}
<style>
  .form-control {
    border: 2px solid #ffffff;
    color: white;
    -webkit-appearance: none;
  }
  form {
    width: 100% !important;
  }
</style>
<div class="container">
  <h1 class="text-center">Settings</h1>
  <div class="card mx-auto" style="">
    <div class="card-body">
      <form id="settingsForm">
        <label class="form-label" for="username">Username:</label>
        <input
          type="username"
          id="username"
          name="username"
          class="form-control"
          placeholder="jasmine"
        />
        <p class="info">Optional</p>
        <label class="form-label" for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="jasmine@garden.com"
        />
        <p class="info">Optional</p>
        <button type="submit">Update</button>
      </form>
      <p id="message1"></p>
      <br />
      <h3 class="text-center">Reset Password</h3>
      <form id="passwordResetForm">
        <label class="form-label" for="current_password"
          >Current Password:</label
        >
        <input
          type="password"
          id="current_password"
          name="current_password"
          required
          class="form-control"
        />

        <label class="form-label" for="password">New Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="form-control"
        />
        <p class="info">Password must be at least 8 characters long</p>
        <label class="form-label" for="password2">Repeat New Password:</label>
        <input
          type="password"
          id="password2"
          name="password2"
          required
          class="form-control"
        />
        <br />
        <button type="submit">Reset Password</button>
      </form>

      <p id="message2"></p>
      <script src="/static/js/settings.js"></script>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
{% endblock %}
